@import url('https://fonts.googleapis.com/css?family=Nunito:wght@200,300;400;500;600;700;800;900');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Nunito;
}

.header{
    width: 100%;
    height: 5rem;
    background-color: #02858F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 2rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: #EAF5F4;
}

.horizontal{
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.box{
    width: 1rem;
    height: 1rem;
    border-radius: 4px;
    background-color: #CEEFEB;
}

svg{
    width: 3rem;
    height: 3rem;
}

.sidebutton{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    color: black;
    border-radius: 5px;
}

.profile{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.sidebar{
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    padding: 2rem;
    padding-right: 5rem;
    background-color: #EAF5F4;
    transition: left 0.5s;
}

.sidebar.open {
    left: 0;
    animation: slideIn 0.5s forwards;
    z-index: 5;
}

.progress-bar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1% 0 1%;
    counter-reset: step;
}

.progress{
    content:"";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 8px;
    width: 0%;
    background-color: #02858F;
    z-index: 2;
    transition: 0.3s;
    max-width: 98%;
}

.progress-bar::before{
    content:"";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 8px;
    width: 98%;
    background-color: #F2CA8D;
    z-index: 1;
}


.progress-step{
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    border-style: solid;
    border-color: #F2CA8D;
    border-width: 0.5rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    z-index: 3;
    font-weight: 600;
}

.progress-step-active{
    border-color: #02858F;
}

.progress-step::before {
    counter-increment: step;
    /* content: counter(step); */
}

.progress-step::after{
    content: attr(data-title);
    position: absolute;
    top: -2.3rem;
    white-space: nowrap;
}

.form-step {
    display: none;
    /* transform-origin: top; */
}

.form-step-active {
    display: flex;
}

@keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
}

button{
    background: none;
    padding: 0;
    border: none;
}

input[type=radio]{
    outline-color: #02858F;
}

form{
    padding: 2rem 1rem 0 1rem;
    width: 80vw;
    height: 75vh;
    border: none;
    margin: 3.5rem auto 0 auto;
}

.other-risk{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 3rem;
    padding: 0 3.5rem 0 3.5rem;
}

.columnss{
    display: flex;
    flex-direction: row;
    gap: 12rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.vital-signs{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
    padding: 0 3.5rem 0 3.5rem;
}

.risk-factors{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 3rem;
    padding: 0 3.5rem 0 3.5rem;
}

.personal-info{ 
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
    padding: 0 3.5rem 0 3.5rem;
}


.queue-result{
    display: none;
    margin-top: 6.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.queue-result span{
    font-weight: 700;
}

.enqueued{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    gap: 2rem;
    margin-top: 3rem;
}

.enqueued img{
    width: 50%;
}

.reset-button{
    border: 2px solid #02858F;
    width: 8rem;
    height: 2.5rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #02858F;
    font-weight: 700;
    font-size: 1.2rem;
}

.date-and-age{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.name-info, .date, .age, .sex-info{
    display: flex;
    flex-direction: column;
    font-size: 2.1rem;
    font-weight: 700;
    margin: 1rem 0 0 0;
}

.temperature, .o2-saturation, .heart-rate, .breath-rate, .blood-pressure, .avpu-level{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}


.category, .breathing-difficulty{
    font-size: 1.6rem;
    font-weight: 700;
}

.breathing-difficulty{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.first-row, .second-row, .third-row{
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 2rem 0 2rem 0;
}

.column-one{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.column-two{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.columns{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 500;
}

.categoryy{
    font-size: 1.8rem;
    font-weight: 700;
}

.category, .categoryy{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.choice{
    margin-top: 0.3rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.choice label{
    margin: 0 3rem 0 1rem;
}

.next-button{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 3rem 1rem 0;
}

.reset-button{
    border: 2px solid #02858F;
}

#name{
    height: 3.5rem;
    border-radius: 7px;
    padding-left: 0.5rem;
    font-size: 1.3rem;
    border-radius: 7px;
    border: 2px solid #C4C4C4;
    background-color: #F7F7F7;
    margin-top: 0.3rem;
}

#name:focus{
    border: 2px solid #02858F;
    outline: none;
}

#breathing-difficulty{
    height: 3.2rem;
    width: 8vw;
    padding-left: 0.5rem;
    font-size: 1.5rem;
    border-radius: 7px;
    border: 2px solid #C4C4C4;
    background-color: #F7F7F7;
}

#breathing-difficulty:focus{
    border: 2px solid #02858F;
    outline: none;
}

#date{
    height: 3.5rem;
    width: 20vw;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.3rem;
    font-size: 1.3rem;
    border-radius: 7px;
    border: 2px solid #C4C4C4;
    background-color: #F7F7F7;
}

#date:focus{
    border: 2px solid #02858F;
    outline: none;
}

#temperature, #o2-saturation, #heart-rate, #breath-rate, #blood-pressure, #avpu-level{
    height: 3.2rem;
    width: 10vw;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    border-radius: 7px;
    border: 2px solid #C4C4C4;
    background-color: #F7F7F7;
}

#temperature:focus, #o2-saturation:focus, #heart-rate:focus, #breath-rate:focus, #blood-pressure:focus, #avpu-level:focus{
    border: 2px solid #02858F;
    outline: none;
}

#male, #female{
    height: 1.2rem;
    width: 1.2rem;
}

#male:focus, #female:focus{
    border: 2px solid #02858F;
    outline: none;
}

@media only screen and (max-height: 600px) { /*laptop*/
    form{
        height: 65vh;
        margin: 3rem auto 0 auto;
    }
}