<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Form</title>
    <link rel="icon" type="image/x-icon" href="/static/logo.png">
    <link rel="stylesheet" href="/static/patient.css">
</head>
<body>
    <div class="header">
        <div class="sidebutton">
            <div class="horizontal">
                <div class="box"></div>
                <div class="box"></div>
            </div>
            <div class="horizontal">
                <div class="box"></div>
                <div class="box"></div>
            </div>
        </div>
        <p>PrioritySight</p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
            <path d="M25 0C11.1895 0 0 11.1895 0 25C0 38.8105 11.1895 50 25 50C38.8105 50 50 38.8105 50 25C50 11.1895 38.8105 0 25 0ZM25 9.67742C29.8992 9.67742 33.871 13.6492 33.871 18.5484C33.871 23.4476 29.8992 27.4194 25 27.4194C20.1008 27.4194 16.129 23.4476 16.129 18.5484C16.129 13.6492 20.1008 9.67742 25 9.67742ZM25 44.3548C19.0827 44.3548 13.7802 41.6734 10.2319 37.4798C12.127 33.9113 15.8367 31.4516 20.1613 31.4516C20.4032 31.4516 20.6452 31.4919 20.877 31.5625C22.1875 31.9859 23.5585 32.2581 25 32.2581C26.4415 32.2581 27.8226 31.9859 29.123 31.5625C29.3548 31.4919 29.5968 31.4516 29.8387 31.4516C34.1633 31.4516 37.873 33.9113 39.7681 37.4798C36.2198 41.6734 30.9173 44.3548 25 44.3548Z" fill="white"/>
        </svg>
    </div>
    <div class="sidebar">
        <div class="profile">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                <path d="M25 0C11.1895 0 0 11.1895 0 25C0 38.8105 11.1895 50 25 50C38.8105 50 50 38.8105 50 25C50 11.1895 38.8105 0 25 0ZM25 9.67742C29.8992 9.67742 33.871 13.6492 33.871 18.5484C33.871 23.4476 29.8992 27.4194 25 27.4194C20.1008 27.4194 16.129 23.4476 16.129 18.5484C16.129 13.6492 20.1008 9.67742 25 9.67742ZM25 44.3548C19.0827 44.3548 13.7802 41.6734 10.2319 37.4798C12.127 33.9113 15.8367 31.4516 20.1613 31.4516C20.4032 31.4516 20.6452 31.4919 20.877 31.5625C22.1875 31.9859 23.5585 32.2581 25 32.2581C26.4415 32.2581 27.8226 31.9859 29.123 31.5625C29.3548 31.4919 29.5968 31.4516 29.8387 31.4516C34.1633 31.4516 37.873 33.9113 39.7681 37.4798C36.2198 41.6734 30.9173 44.3548 25 44.3548Z" fill="#02858F"/>
            </svg>
            <p>Pasien</p>
        </div>
        <p class="current-date">DD/MM/YY</p>
        <p></p>
    </div>
    <form action="/process" class="form" method="post" novalidate>
        <div class="progress-bar">
            <div class="progress" id="progress"></div>
            <div class="progress-step progress-step-active" data-title="Informasi Pribadi"></div>
            <div class="progress-step" data-title="Tanda Vital"></div>
            <div class="progress-step" data-title="Faktor Risiko"></div>
            <div class="progress-step" data-title="Faktor Lain"></div>
        </div>

        <div class="form-step form-step-active" data-step="1">
            <div class="personal-info">
                <div class="name-info">
                    <div class="header-icon">
                        <img src="/static/name.png">
                    <label for="name">Nama</label>
                    </div>
                    <input type="text" name="name" id="name" placeholder="Masukkan Nama Anda"/>
                </div>
                <div class="date-and-age">
                    <div class="date">
                        <div class="header-icon">
                            <img src="/static/date.png">
                            <label for="date">Tanggal Lahir</label>
                        </div>
                        <input type="date" name="date" id="date"/>
                    </div>
                </div>
                <div class="sex-info">
                    <div class="header-icon">
                        <img src="/static/gender.png">
                        <label>Jenis Kelamin</label>
                    </div>
                    <div class="choice">
                        <input type="radio" name="sex" id="male" value="Laki-Laki" checked/>
                        <label for="male">Laki-Laki</label>
                        <input type="radio" name="sex" id="female" value="Perempuan">
                        <label for="female">Perempuan</label>
                    </div>
                </div>
            </div>
            <a><svg class="next-button" xmlns="http://www.w3.org/2000/svg" width="232" height="120" viewBox="0 0 232 120" fill="none">
                <path d="M6.99792 53.5C3.40807 53.5 0.497925 56.4101 0.497925 60C0.497925 63.5899 3.40807 66.5 6.99792 66.5V53.5ZM191.6 64.5962C194.138 62.0578 194.138 57.9422 191.6 55.4038L150.234 14.0381C147.695 11.4997 143.58 11.4997 141.041 14.0381C138.503 16.5765 138.503 20.692 141.041 23.2304L177.811 60L141.041 96.7696C138.503 99.308 138.503 103.424 141.041 105.962C143.58 108.5 147.695 108.5 150.234 105.962L191.6 64.5962ZM6.99792 66.5H187.003V53.5H6.99792V66.5Z" fill="#02858F"/>
            </svg></a>
        </div>
        <div class="form-step" data-step="2">
            <div class="vital-signs">
                <div class="first-row">
                    <div class="temperature">
                        <div class="header-icon">
                            <img src="/static/temperature.png">
                            <label for="temperature">Suhu Tubuh</label>
                        </div>
                        <input type="number" name="temperature" id="temperature" placeholder="C"/>
                    </div>
                    <div class="o2-saturation">
                        <div class="header-icon">
                            <img src="/static/o2saturation.png">
                            <label for="o2-saturation">Saturasi Oksigen</label>
                        </div>
                        <input type="number" name="o2-saturation" id="o2-saturation" placeholder="%"/>
                    </div>
                </div>
                <div class="second-row">
                    <div class="heart-rate">
                        <div class="header-icon">
                            <img src="/static/heartrate.png">
                            <label for="heart-rate">Detak Jantung</label>
                        </div>
                        <input type="number" name="heart-rate" id="heart-rate" placeholder="/menit"/>
                    </div>
                    <div class="breath-rate">
                        <div class="header-icon">
                            <img src="/static/breathrate.png">
                            <label for="breath-rate">Laju Pernapasan</label>
                        </div>
                        <input type="number" name="breath-rate" id="breath-rate" placeholder="/menit"/>
                    </div>
                </div>
                <div class="third-row">
                    <div class="blood-pressure">
                        <div class="header-icon">
                            <img src="/static/bloodpressure.png">
                            <label for="blood-pressure">Tekanan Darah</label>
                        </div>
                        <input type="number" name="blood-pressure" id="blood-pressure" placeholder="mmHg"/>
                    </div>
                    <div class="avpu-level">
                        <div class="header-icon">
                            <img src="/static/avpulevel.png">
                            <label for="avpu-level">AVPU Level</label>
                        </div>
                        <input type="text" name="avpu-level" id="avpu-level" placeholder="U/V/P/A"/>
                    </div>
                </div>
            </div>
            <a><svg class="next-button" xmlns="http://www.w3.org/2000/svg" width="232" height="120" viewBox="0 0 232 120" fill="none">
                <path d="M6.99792 53.5C3.40807 53.5 0.497925 56.4101 0.497925 60C0.497925 63.5899 3.40807 66.5 6.99792 66.5V53.5ZM191.6 64.5962C194.138 62.0578 194.138 57.9422 191.6 55.4038L150.234 14.0381C147.695 11.4997 143.58 11.4997 141.041 14.0381C138.503 16.5765 138.503 20.692 141.041 23.2304L177.811 60L141.041 96.7696C138.503 99.308 138.503 103.424 141.041 105.962C143.58 108.5 147.695 108.5 150.234 105.962L191.6 64.5962ZM6.99792 66.5H187.003V53.5H6.99792V66.5Z" fill="#02858F"/>
            </svg></a>
        </div>
        <div class="form-step" data-step="3">
            <div class="risk-factors">
                <div class="breathing-difficulty">
                    <div class="header-icon">
                        <img src="/static/breathingdifficulty.png">
                        <label for="breathing-difficulty">Tingkat kesulitan bernafas pasien dari skala 0-1:</label>
                    </div>
                    <input type="number" name="breathing-difficulty" id="breathing-difficulty" placeholder="0-1"/>
                </div>
                <div class="category">
                    <div class="header-icon">
                        <img src="/static/category.png">
                        <label>Pasien termasuk dalam kategori:</label>
                    </div>
                    <div class="columns">
                        <div class="column-one">
                            <div class="radio1">
                                <input type="checkbox" name="60-years" id="60-years"/>
                                <label for="60-years">Lebih dari 60 tahun</label>
                            </div>
                            <div class="radio2">
                                <input type="checkbox" name="smoking" id="smoking"/>
                                <label for="smoking">Merokok</label>
                            </div>
                            <div class="radio3">
                                <input type="checkbox" name="obese" id="obese"/>
                                <label for="obese">Obesitas</label>
                            </div>
                            <div class="radio4">
                                <input type="checkbox" name="asthma" id="asthma"/>
                                <label for="asthma">Memiliki asma</label>
                            </div>
                        </div>
                        <div class="column-two">
                            <div class="radio5">
                                <input type="checkbox" name="pregnant" id="pregnant"/>
                                <label for="pregnant">Sedang hamil</label>
                            </div>
                            <div class="radio6">
                                <input type="checkbox" name="diabetic" id="diabetic"/>
                                <label for="diabetic">Memiliki diabetes</label>
                            </div>
                            <div class="radio7">
                                <input type="checkbox" name="heart-disease" id="heart-disease"/>
                                <label for="heart-disease">Memiliki riwayat penyakit jantung</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <svg class="next-button" xmlns="http://www.w3.org/2000/svg" width="232" height="120" viewBox="0 0 232 120" fill="none">
                <path d="M6.99792 53.5C3.40807 53.5 0.497925 56.4101 0.497925 60C0.497925 63.5899 3.40807 66.5 6.99792 66.5V53.5ZM191.6 64.5962C194.138 62.0578 194.138 57.9422 191.6 55.4038L150.234 14.0381C147.695 11.4997 143.58 11.4997 141.041 14.0381C138.503 16.5765 138.503 20.692 141.041 23.2304L177.811 60L141.041 96.7696C138.503 99.308 138.503 103.424 141.041 105.962C143.58 108.5 147.695 108.5 150.234 105.962L191.6 64.5962ZM6.99792 66.5H187.003V53.5H6.99792V66.5Z" fill="#02858F"/>
            </svg>
        </div>
        <div class="form-step" data-step="4">
            <div class="other-risk">
                <div class="categoryy">
                    <div class="header-icon">
                        <img src="/static/symptoms.png">
                        <label>Pasien mengalami gejala:</label>
                    </div>
                    <div class="columnss">
                        <div class="column-one">
                            <div class="radio1"> <!-- penamaan biarin sama-->
                                <input type="checkbox" name="fever" id="fever"/>
                                <label for="fever">Demam tinggi</label>
                            </div>
                            <div class="radio2">
                                <input type="checkbox" name="diarrhea" id="diarrhea"/>
                                <label for="diarrhea">Diare</label>
                            </div>
                            <div class="radio3">
                                <input type="checkbox" name="cough" id="cough"/>
                                <label for="cough">Batuk kering</label>
                            </div>
                            <div class="radio4">
                                <input type="checkbox" name="weak" id="weak"/>
                                <label for="weak">Lemas berlebih</label>
                            </div>
                        </div>
                        <div class="column-two">
                            <div class="radio5">
                                <input type="checkbox" name="chest-pain" id="chest-pain"/>
                                <label for="chest-pain">Nyeri di dada</label>
                            </div>
                            <div class="radio6">
                                <input type="checkbox" name="dehydration" id="dehydration"/>
                                <label for="dehydration">Dehidrasi</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" >
                <svg class="next-button" xmlns="http://www.w3.org/2000/svg" width="232" height="120" viewBox="0 0 232 120" fill="none">
                    <path d="M6.99792 53.5C3.40807 53.5 0.497925 56.4101 0.497925 60C0.497925 63.5899 3.40807 66.5 6.99792 66.5V53.5ZM191.6 64.5962C194.138 62.0578 194.138 57.9422 191.6 55.4038L150.234 14.0381C147.695 11.4997 143.58 11.4997 141.041 14.0381C138.503 16.5765 138.503 20.692 141.041 23.2304L177.811 60L141.041 96.7696C138.503 99.308 138.503 103.424 141.041 105.962C143.58 108.5 147.695 108.5 150.234 105.962L191.6 64.5962ZM6.99792 66.5H187.003V53.5H6.99792V66.5Z" fill="#02858F"/>
                </svg>
            </button>
        </div>
    </form>
    <div class="queue-result">
        <div class="result">

        </div>
        <button type="reset" class="reset-section">
            <div class="reset-button">
                <p>Reset</p>
            </div>
        </button>
    </div>
    <!-- tampilin prioritynya nanti pikirin -->
    
</body>
<script src="/static/patient.js" defer></script>
</html>